/* Color CSS */
/* Criando as variáveis de cor */
:root {
    /* Header e Footer */
    --header-bg: #050505;
    --header-bg-02: #000000;

    /* Cores Principais da Marca */
    --color-pri: #08fa00;
    --color-sec: #06c200;
    --color-ter: #048600;

    /* Cores de Fundo */
    --bg-color: #f2f2f2;
    --bg-color-02: #f7f7f7;
    --bg-color-03: #f7f7f7;
    --bg-color-04: #e0e0e0;
    --bg-color-05: #ececec;
    --btn-comprar-bg: #222222;

    /* Cores de Texto */
    --h1-color: #222222;
    --h2-color: #a4a4a4;
    --h2-color-02: #919191;
    --p-color: #7c7c7c;

    /* Cores quando mudar o tema para escuro */
    body.dark-mode {
        /* Cores de Fundo */
        --bg-color: #111111;
        --bg-color-02: #1f1f1f;
        --bg-color-03: #0e0e0e;
        --bg-color-04: #181818;
        --bg-color-05: #1f1f1f;

        /* Cores de Texto */
        --h1-color: #f0f0f0;
        --h2-color: #b9b9b9;
        --h2-color-02: #757575;
        --p-color: #b4b4b4;
    }
}